.details-page {
    display: flex;
    justify-content: space-around;
    /* background-image: linear-gradient(rgba(0, 8, 51, 0.1), rgba(0, 8, 51, 0.9)); */
    background-position: center;
    background-size: cover;
    /* opacity: 0.1; */
}

.details-page div {
    margin: 30px auto;
}
.details-left {

}

.details-right {

}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.genre {
    font-size: 20px;
    color: white;
    background-color: #2c666e;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.star {
    transition: 0.3s;
    text-decoration: underline transparent;
}

.star:hover {

    text-decoration: underline;
}

.director {
    font-size: 20px;
}

.title-price {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    
}

.title-price h2 {
    color: white;
    background-color: #2c666e;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.description {
    max-width: 500px;
    line-break: anywhere; 
    text-align: left;
}

.rating-release {
    text-align: left;
}

.offers {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
    overflow: auto;
}

.seller-offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    color: white;
    background-color: #2c666e;
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;

}

.add-to-cart-btn {
    margin: 20px 0;
    background-color: #f0edee;
    border: none;
    padding: 3px 5px;
    border-radius: 10px;
    transition: 0.1s;
}

.add-to-cart-btn:hover {
    box-shadow: #07393c 3px 2px 1px 2px;
}

.del-btn {
    margin: 20px 0;
    background-color: #f0edee;
    border: none;
    padding: 3px 5px;
    border-radius: 10px;
    transition: 0.1s;
}

.del-btn:hover {
    box-shadow: #07393c 3px 2px 1px 2px;
}

.form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

}

.form label {
    font-size: 20px;
    font-weight: bold;
}

.form input, label {
    height: 20px;
    margin: 20px 0;
}