.homepage {

}

.posters-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%;

}

.posters {
    margin: 100px 10px;
}