.flex {
    display: flex;
    flex-direction: row;

}



.listing-poster {
    max-width: 200px;
    max-height: 500px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: #07393c;
    text-decoration: none;
    margin: 20px 10px;
    background-color: #f0edee;
}



.poster-image {
    width: 200px;
    height: 305px;
    transition: 0.3s;
    border-radius: 10px;
}

.profile-del-btn {
            background-color: #f0edee;
            border: none;
            padding: 3px 5px;
            border-radius: 10px;
            transition: 0.3s;
}

.profile-del-btn:hover {
    background-color: red;
    color: white;
}