/* Logged in user */

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.nav {
    background-color: #F0EDEE;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 50px;
    margin-bottom: 10px;
  }

  
  .user-name {
    margin-left: 5px;
  }
  
  .navBar-logout {
    margin-right: 5px;
  }
  
  .navBar a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navBar a:hover {
    cursor: pointer;
  }
  
  .navBar h2,
  .navBar-login,
  .navBar-signup {
    font-size: 16pt;
  }
  
  .moviewer {
    margin-right: 115px;
    font-family: "monoton", cursive;
    font-size: 26pt;  
  }
  
  .navBar-left {
    display: flex;
  }
  
  .cart {
    color: #07393C;
    border: 1px solid transparent;
        border-radius: 3px;
    padding: 4px;
    font-size: 25px;
    transition: 0.3s;
  }
  
  .cart:hover {
    border-color: #07393C;
    background-color: #2c666e;
    color: white;
  }
  /* Logged out/non-user: */
  
  .navBar-login {
    margin-right: 5px;
    font-size: 16pt;
  }
  
  .navBar-signup {
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 4px;
    font-size: 16pt;
    transition: 0.3s;
  }

  .navBar-signup:hover {
    border-color: #07393C;
    background-color: #2c666e;
    color: white;
  }

  /* .searchbar {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
  }


  .search-btn {
    margin-left: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    height: 30px;
    background-color: #2c666e;
    color: white;
    border-radius: 7px;
    border: 1px solid black;
    transition: 0.2s;
  }

  .search-btn:hover {
    background-color: #538086;
  }

  .searchbar-label {

    
  } */

  
  
  .search-bar-new {
    width: 500px;
    height: 30px;
    margin: 10px auto;
    max-width: 700px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 14px 20px;
    
  }
  
  .search-bar-new input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 14px;
    color: black;
  }
  
  .search-bar-new button img{
    width: 25px;
  }
  
  .search-bar-new button {
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #2c666e;
    cursor: pointer;
  }
  
  .user-name,
  .navBar-logout, 
  .navBar-login, 
  .navBar-signup, 
  .create-blog {
    font-size: 25px;
    color: #0A090C;
    font-weight: normal;
  }